  <div class="containerRouting">
      <!-- <h5 class="dm-serif-text-regular">Utenti e Permessi</h5>
      <hr> style="margin:3rem 1rem 1rem 1rem"-->
      <div class="d-flex justify-content-between m-3"  >
        <ejs-tooltip content="Pulisci Filtri">
          <button   ejs-button cssClass="utilityButton" (click)="pulisciFiltri()">
            <i class="e-icons e-filter-clear" style="font-size: 20px"></i>
          </button>
        </ejs-tooltip>
        <button ejs-button cssClass="e-primary" (click)="openContoDialog()">
          <label> Nuovo Conto </label>
        </button>
      </div>
      <div id="containerGrid" width="100%">

    <ejs-grid
      #grid
      [dataSource]="conti"
      width="100%" [height]='400'
      [allowFiltering]="true"
      [filterSettings]="filterSettings"
      [pageSettings]="pageSettings"
      [allowPaging]="true"
      [allowSorting]="true"
      [locale]="locale"
      (actionBegin)="onActionBegin($event)"
      >

      <e-columns>

        <e-column field="cf04Nome" headerText="Nome" width="150"></e-column>
        <e-column headerText="Tipo" width="120">
          <ng-template #template let-data>
            {{ getTipoAnagraficaLabel(data.cf04Tipo) }}
          </ng-template>
        </e-column>
        <e-column field="cf04Iban" headerText="IBAN" width="200"></e-column>
        <e-column field="cf04CodiceSia" headerText="Codice SIA" width="120"></e-column>
        <e-column headerText="Azioni" width="120" textAlign="Center">
          <ng-template #template let-data>
            <div class="action-buttons">
              <button ejs-button cssClass="e-flat" (click)="openContoDialog(data)">
                <i class="e-icons e-edit"></i>
              </button>
              <button ejs-button cssClass="e-flat e-danger" iconCss="e-icons e-delete" (click)="deleteConto(data)"></button>
            </div>
          </ng-template>
        </e-column>
      </e-columns>
    </ejs-grid>
  </div>
</div>

<!-- Toast per le notifiche -->
<ejs-toast #toast [position]="toastPosition" [showCloseButton]="true"></ejs-toast>

<!-- Dialog per la creazione/modifica del conto -->
<ejs-dialog #contoDialog [visible]="false" [header]="dialogHeader" [showCloseIcon]="true"
  [animationSettings]="{ effect: 'Zoom' }" [width]="500" [isModal]="true"
  (close)="dialogClose()">
  <ng-template #content>
    <app-conto-dialog [conto]="selectedConto" (saveComplete)="onSaveComplete($event)"></app-conto-dialog>
  </ng-template>
</ejs-dialog>
