# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/FatturaPaGestionaleFrontend/CopilotIndices/17.12.53.23981/CodeChunks.db
.vs/FatturaPaGestionaleFrontend/CopilotIndices/17.12.53.23981/SemanticSymbols.db
.vs/FatturaPaGestionaleFrontend/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
.vs/FatturaPaGestionaleFrontend/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
.vs/FatturaPaGestionaleFrontend/FileContentIndex/merges/e57955fd-94bb-47df-856b-c7e33d0e63c9.vsidx
.vs/FatturaPaGestionaleFrontend/v17/.wsuo
.vs/FatturaPaGestionaleFrontend/v17/DocumentLayout.backup.json
.vs/FatturaPaGestionaleFrontend/v17/DocumentLayout.json
