<div class="containerRouting">

  <div class="d-flex justify-content-between m-3" >
    <ejs-tooltip content="Pulisci Filtri">
      <button   ejs-button cssClass="utilityButton" (click)="pulisciFiltri()">
        <i class="e-icons e-filter-clear" style="font-size: 20px"></i>
      </button>
    </ejs-tooltip>
    <button ejs-button cssClass="e-primary" (click)="openTenantDialog()">
      <label> Nuovo Tenant </label>
    </button>
  </div>
  <div id="containerGrid" width="100%">
    <ejs-grid #grid [dataSource]="data"
    width="100%"
    [height]='400'
    [allowPaging]="true"
    [pageSettings]="pageSettings"
    [allowSorting]="true"
    [allowFiltering]="true"
    (actionBegin)="onActionBegin($event)"
    [filterSettings]="filterSettings" [locale]="locale">
      <e-columns>
        <e-column field="cf01Nome" headerText="Nome" width="200"></e-column>
        <e-column field="an01Ragsoc" headerText="Ragione Sociale" width="200"></e-column>
        <e-column field="an01Partitaiva" headerText="Partita IVA" width="150"></e-column>
        <e-column field="an01CodiceFiscale" headerText="Codice Fiscale" width="150"></e-column>
        <e-column field="cf01TenantCf01" headerText="Tenant Padre" width="150"></e-column>
        <e-column field="cf01Datarinnovo" headerText="Data Rinnovo" width="150" type="date"
          format="dd/MM/yyyy"></e-column>
        <e-column field="cf01Deleted" headerText="Eliminato" width="100" type="boolean" [showInColumnChooser]="false">

          <ng-template #template let-data>
            <ejs-checkbox [checked]="data.cf01Deleted" [disabled]="true"></ejs-checkbox>
          </ng-template>
        </e-column>
        <e-column headerText="Azioni" width="150" [allowFiltering]="false" [allowSorting]="false">
          <ng-template #template let-data>
            <div class="d-flex gap-2">
              <button ejs-button cssClass="e-flat" (click)="editTenant(data)">
                <i class="e-icons e-edit"></i>
              </button>
              <button ejs-button cssClass="e-flat e-danger" iconCss="e-icons e-delete" (click)="deleteTenant(data)">
                <!-- <i class="e-icons e-trash"></i> -->
              </button>
              <ejs-tooltip id='tooltip' content='Gestione anagrafica ditta'>
                <button ejs-button cssClass="e-flat " (click)="openAnagraficaDitta(data.cf01Tenant1, data.an01Ragsoc)">
                  <mat-icon id="ditta">home</mat-icon>
                </button>
              </ejs-tooltip>
            </div>
          </ng-template>
        </e-column>
      </e-columns>
    </ejs-grid>
  </div>
</div>
<ejs-dialog #dialog
  [isModal]="true"
  [header]="'Nuovo Tenant'"
  [width]="'500px'"
  [isResponsive]="true"
  [showCloseIcon]="true"
  [closeOnEscape]="true"
  [visible]="false">
  <app-tenant-dialog [tenant]="selectedTenant" (cancel)="closeTenantDialog()"
    (save)="saveTenant($event)"></app-tenant-dialog>
</ejs-dialog>
